h1 a{
    color: #FCA205;
}

body {
    padding-left: 1px;
}

.page-header{
    background-color: #0abab5;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1{
    color: #ffffff;
    font-size: 36pt;
}

.content{
    margin-left: 40px;
}

