{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/group_meeting.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h1>고성능시스템구조연구실 그룹미팅</h1>    
        </div>
        <div>
            <h1>
                오늘 그룹 미팅
            </h1>
            <p>
                회의 날짜 : {{today.date}}<br>
                회의 장소 : {{today.place}}<br>
                참석자    : 
                    {%for a in today.attendent.all %}
                        {{a}}
                    {% endfor %}<br>
                안건
                    {%for t in today.topic.all %}
                        <div class="topic">
                            {{t}} : 
                            {% for owner in t.owner.all%}
                                {{owner}}
                            {% endfor %}
                        
                            {% for comment in comments %}
                                <div class = "comment">
                                    {% if comment.topic == t %}
                                        {{comment.description}}({{comment.author}})<br>
                                    {% endif%}
                                </div>
                            {% endfor %}                   
                        </div>
                    {% endfor %}
            </p>
            <p>
            </p>
        </div>
        <div>
            <h2>
                <a href="{% url 'list'%}">목록</a>
            </h2>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
