<html>
    <head>
        <title>
            고성능시스템구조연구실 그룹미팅
        </title>
        <body>
            <div>
                <h1>
                    <a href="">오늘 그룹 미팅</a>
                </h1>
                <p>
                    회의 날짜 : {{today.date}}<br>
                    회의 장소 : {{today.place}}<br>
                    참석자    : {{today.attendent}}
                </p>
                <p>
                    {% for topic in topics %}
                        <p>
                            {{topic}}<br>
                        </p>
                    {% endfor %}
                </p>
            </div>
            <div>
                <h1>
                    <a href="">지난 미팅 목록</a>
                </h1>
                {% for meeting in meetings %}
                    <p>
                        <a href="">{{meeting.date}}</a>/
                        {{meeting.place}}/
                        {{meeting.attendent}}/
                        {{meeting.topics}}
                    </p>
                {% endfor %}
            </div>
            <div>
                <h1>
                    <a href="">관리</a>
                </h1>
            </div>
        </body>
    </head>
</html>